/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.main-header {
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
  background-color: #6200EE;
  color: white;
}
.main-header i {
  font-size: 2rem;
}
.side-bar {
  z-index: 500;
  position: fixed;
  background: black;
  width: 0%;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-bar .nav-menu {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
.side-bar .nav-menu .link {
  text-decoration: none;
  color: black;
  font-size: 3.2rem;
  font-weight: 64px;
  margin-bottom: 0;
  color: white;
}
.side-bar .login-button {
  margin-left: 3rem;
  margin-top: 3rem;
  border: 1px solid white;
  width: 70%;
  height: 8%;
  background: transparent;
  font-size: 2rem;
  color: white;
}
.search-section {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.search-section .intro-note {
  margin: 2rem auto;
}
.search-section .intro-note h1 {
  font-size: 3.2rem;
  text-align: center;
}
.search-section .find-illustrative-image {
  margin: 10px auto;
  width: 100%;
  height: 50%;
}
.search-section .find-illustrative-image img {
  width: 100%;
  height: 100%;
}
.search-section .searchpane {
  margin-top: 2rem;
  width: 100%;
  height: 10%;
}
.search-section .searchpane input {
  border: 1px solid black;
  width: 70%;
  height: 50px;
  margin-left: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.search-section .searchpane button {
  border: 1px solid #6200EE;
  width: 20%;
  height: 50px;
  margin-right: 1.5rem;
  background: #6200EE;
  vertical-align: top;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.interests {
  margin-top: 2rem;
  position: relative;
  height: 750px;
}
.interests .intro-note h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #4e4c4c;
}
.interests .intro-note p {
  text-align: center;
  color: grey;
  padding-top: 1.5rem;
}
.interests .interest-grid {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 1rem;
}
.interests .interest-grid .interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 #4e4c4c, 0 6px 20px 0 #4e4c4c;
}
.interests .interest-grid .interest .img {
  width: 100%;
  margin: 2rem;
  flex: 2;
}
.interests .interest-grid .interest .img img {
  width: 100%;
  margin: 2rem auto;
}
.interests .interest-grid .interest p {
  color: grey;
  display: block;
  margin-bottom: 2rem;
}
.feature-section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 2rem;
}
.feature-section h1 {
  font-size: 2.5rem;
  color: #4e4c4c;
  padding-bottom: 1rem;
}
.feature-section .feature {
  box-shadow: 0 4px 8px 0 #4e4c4c, 0 6px 20px 0 #4e4c4c;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem auto;
  width: 100%;
}
.feature-section .feature .img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
.feature-section .feature .img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 200px;
}
.feature-section .feature .writeup {
  margin: 1rem 2rem;
  color: #5e60e1;
}
.feature-section .feature .writeup p {
  font-size: 2rem;
}
.feature-section .feature .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  align-items: baseline;
}
.feature-section .feature .info .rest-info {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 3rem;
  margin-top: 0;
}
.feature-section .feature .info .rest-info .rating {
  border: 2px solid #5e60e1;
  border-radius: 50%;
  align-self: baseline;
  padding-top: 0;
}
.feature-section .feature .info .rest-info .rating p {
  padding: 1rem;
}
.feature-section .feature .info .rest-info .restaurant-name {
  color: grey;
  padding-left: 2rem;
  padding-top: 1rem;
}
.feature-section .feature .info .meal {
  align-self: flex-start;
  width: 30%;
  font-size: 40px;
  margin-bottom: 2rem;
}
.feature-section .feature .info .meal img {
  width: 40%;
  vertical-align: top;
}
