/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
i {
  font-family: 'Raleway', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
}
.container {
  flex: 1 0 auto;
}
@media (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
.main-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
  background-color: #6200EE;
  color: white;
}
.main-header .nav-links {
  display: none;
}
.main-header i {
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .main-header .sidemenu-bar {
    display: none;
  }
  .main-header .logo {
    align-self: baseline;
  }
  .main-header .nav-links {
    display: block;
    margin-right: 3rem;
  }
  .main-header .nav-links a {
    text-decoration: none;
    color: white;
    padding-right: 3rem;
    font-size: 1.5rem;
    align-self: baseline;
  }
  .main-header .nav-links a i {
    padding: 0 0.5rem;
    font-size: 1.5rem;
    background: transparent;
  }
}
.side-bar {
  z-index: 500;
  position: fixed;
  background: black;
  width: 0%;
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-bar .nav-menu {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
.side-bar .nav-menu .link {
  text-decoration: none;
  color: black;
  font-size: 3.2rem;
  font-weight: 64px;
  margin-bottom: 0;
  color: white;
}
.side-bar .login-button {
  margin-left: 3rem;
  margin-top: 3rem;
  border: 1px solid white;
  width: 70%;
  height: 8%;
  background: transparent;
  font-size: 2rem;
  color: white;
}
@media (min-width: 1024px) {
  .side-bar {
    display: none;
  }
}
.active,
.link:hover {
  border: 3px solid white;
  padding: 1.3rem;
  width: 90%;
}
.search-section {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  margin-bottom: 15rem;
}
.search-section .intro-note {
  margin: 5rem auto;
}
.search-section .intro-note h1 {
  font-size: 3.2rem;
  text-align: center;
}
.search-section .header-close-image {
  display: none;
}
.search-section .header-images .find-illustrative-image {
  margin: 10px auto;
  width: 100%;
}
.search-section .header-images .find-illustrative-image img {
  width: 100%;
}
.search-section .header-images .find-illustrative-image .auxilliary {
  display: none;
}
.search-section .header-images .arrow {
  display: none;
}
.search-section .header-images .result-images {
  display: none;
}
.search-section .searchpane {
  margin-top: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}
.search-section .searchpane input {
  border: 1px solid black;
  width: 60%;
  height: 50px;
  margin-left: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}
.search-section .searchpane button {
  border: 1px solid #6200EE;
  width: 30%;
  height: 50px;
  margin-right: 1.5rem;
  background: #6200EE;
  vertical-align: top;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
@media (min-width: 1024px) {
  .search-section {
    margin-top: 0;
  }
  .search-section .header-images {
    height: 50%;
    display: flex;
    flex-direction: row;
  }
  .search-section .header-images .find-illustrative-image {
    flex: 2;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 400px;
    margin-left: 2rem;
    margin-top: 3rem;
  }
  .search-section .header-images .find-illustrative-image img {
    width: 50%;
    padding-right: 3rem;
    padding-top: 0;
    flex: 1;
  }
  .search-section .header-images .find-illustrative-image .auxilliary {
    display: block;
    flex: 0;
    width: 25%;
    margin-top: 3rem;
    padding: 0;
  }
  .search-section .header-images .arrow {
    display: block;
    width: 5%;
  }
  .search-section .header-images .result-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    display: block;
    width: 80%;
    height: 400px;
    margin-top: 3rem;
  }
  .search-section .header-images .result-images img {
    width: 30%;
    height: 100%;
    padding-right: 3rem;
    padding: 0;
    margin-top: 5rem;
  }
  .search-section .header-close-image {
    display: block;
    width: 100%;
    margin-top: 0;
  }
  .search-section .header-close-image img {
    width: 100%;
  }
  .search-section .intro-note {
    margin: 3rem auto;
  }
  .search-section .searchpane {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 3rem;
  }
  .search-section .searchpane input {
    width: 65%;
    margin-left: 4rem;
    text-align: left;
    padding: 1rem;
  }
  .search-section .searchpane button {
    padding: 1rem;
    width: 20%;
  }
}
.interests {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
  height: 650px;
}
.interests .intro-note h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #4e4c4c;
}
.interests .intro-note p {
  text-align: center;
  color: grey;
  padding-top: 1.5rem;
}
.interests .interest-grid {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 2rem;
}
.interests .interest-grid .interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 #4e4c4c, 0 6px 20px 0 #4e4c4c;
}
.interests .interest-grid .interest .img {
  width: 100%;
  margin: 2rem;
  flex: 2;
}
.interests .interest-grid .interest .img img {
  width: 100%;
  margin: 2rem auto;
}
.interests .interest-grid .interest p {
  color: grey;
  display: block;
}
@media (min-width: 1024px) {
  .interests {
    height: 750px;
  }
  .interests .interest-grid .interest {
    width: 35%;
  }
  .interests .interest-grid .interest .img {
    width: 50%;
    margin: 2rem;
  }
  .interests .interest-grid .interest .img img {
    width: 100%;
    margin: 2rem;
  }
  .interests .interest-grid .interest p {
    font-size: 2rem;
    padding: 2rem;
  }
  .interests .interest-grid .interest:nth-child(1n) {
    margin-right: 3rem;
  }
}
.feature-section {
  position: relative;
  margin: 4rem 2rem;
}
.feature-section header h1 {
  font-size: 2.5rem;
  color: #4e4c4c;
  padding-bottom: 1rem;
  text-align: center;
}
.feature-section .features {
  display: flex;
  flex-direction: column;
}
.feature-section .features .feature {
  box-shadow: 0 4px 8px 0 #111, 0 6px 20px 0 #fff;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem auto;
  width: 100%;
}
.feature-section .features .feature .img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
.feature-section .features .feature .img img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  height: 200px;
}
.feature-section .features .feature .writeup {
  margin: 1rem 2rem;
  color: #5e60e1;
}
.feature-section .features .feature .writeup p {
  font-size: 2rem;
}
.feature-section .features .feature .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  align-items: baseline;
}
.feature-section .features .feature .info .rest-info {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-right: 3rem;
  margin-top: 0;
}
.feature-section .features .feature .info .rest-info .rating {
  border: 2px solid #5e60e1;
  border-radius: 50%;
  align-self: baseline;
  padding-top: 0;
}
.feature-section .features .feature .info .rest-info .rating p {
  padding: 1rem;
}
.feature-section .features .feature .info .rest-info .restaurant-name {
  color: grey;
  padding-left: 2rem;
  padding-top: 1rem;
}
.feature-section .features .feature .info .meal {
  align-self: flex-start;
  width: 35%;
  font-size: 40px;
  margin-bottom: 2rem;
}
.feature-section .features .feature .info .meal img {
  width: 40%;
  vertical-align: top;
  border: 2px solid #5e60e1;
  border-radius: 50%;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .feature-section {
    flex-wrap: wrap;
  }
  .feature-section header {
    height: 0.5%;
    margin: 3rem auto;
  }
  .feature-section .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .feature-section .features .feature {
    margin-top: 3rem;
    width: 40%;
  }
}
.how-to {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.how-to .intro {
  text-align: center;
  padding-bottom: 2rem;
}
.how-to .intro h1 {
  font-size: 2.5rem;
  color: #4e4c4c;
  padding-bottom: 1.5rem;
}
.how-to .intro p {
  color: #4e4c4c;
}
.how-to .how-to-grid {
  display: flex;
  flex-direction: column;
}
.how-to .how-to-grid .step {
  box-shadow: 0 4px 8px 0 #111, 0 6px 20px 0 #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  margin: 2rem auto;
}
.how-to .how-to-grid .step .img {
  width: 100%;
  height: 50%;
}
.how-to .how-to-grid .step .img img {
  width: 100%;
  height: 100%;
}
.how-to .how-to-grid .step h2 {
  font-size: 2rem;
  color: #4e4c4c;
  padding-top: 1rem;
}
.how-to .how-to-grid .step p {
  padding: 1rem 0;
  color: #4e4c4c;
  text-align: center;
}
@media (min-width: 1024px) {
  .how-to .intro {
    margin-top: 2rem;
  }
  .how-to .how-to-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  .how-to .how-to-grid .step {
    padding: 1.5rem;
    width: 30%;
  }
}
.about-us {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.about-us .intro {
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}
.about-us .intro h1 {
  font-size: 2.5rem;
  color: #4e4c4c;
  padding-bottom: 1.5rem;
}
.about-us .intro p {
  color: #4e4c4c;
}
.about-us .team {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us .team .team-intro {
  margin-top: 5rem;
  width: 100%;
  padding: 2rem;
}
.about-us .team .team-images {
  margin-top: 3rem;
}
.about-us .team .team-images img {
  width: 100%;
  height: 80%;
}
@media (min-width: 1024px) {
  .about-us .intro {
    margin-top: 2rem;
  }
  .about-us .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .about-us .team .team-intro {
    margin-top: 5rem;
    width: 50%;
    padding: 2rem;
  }
  .about-us .team .team-images {
    margin-top: 3rem;
  }
  .about-us .team .team-images img {
    width: 100%;
    height: 80%;
  }
}
.footer-section {
  flex-shrink: 0;
  padding-top: 3rem;
}
.footer-section .social-section {
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  width: 80%;
}
.footer-section .social-section .social {
  border: 2px solid #6200EE;
  border-radius: 50%;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
.footer-section .social-section .social img {
  width: 100%;
  padding: 2rem;
}
.footer-section .get-app {
  background-color: #6200EE;
}
.footer-section .get-app h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
  color: white;
}
.footer-section .get-app .arrow {
  display: none;
}
.footer-section .get-app .stores {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-section .get-app .stores img {
  width: 20%;
}
@media (min-width: 1024px) {
  .footer-section .social-section {
    width: 25%;
  }
  .footer-section .social-section .social {
    width: 50%;
  }
  .footer-section .social-section .social img {
    width: 100%;
  }
  .footer-section .get-app {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-section .get-app .arrow {
    display: block;
    width: 3%;
    height: 2%;
    margin-left: 0;
    margin-top: 3rem;
    color: white;
  }
  .footer-section .get-app .stores {
    margin: 3rem;
    align-self: flex-end;
    height: 2%;
    justify-content: center;
  }
  .footer-section .get-app .stores .store {
    height: 2%;
    width: 10%;
    margin: 0 2rem;
  }
}
