.main-header {
    z-index: 999;
    .flex-mixin(row);
    justify-content: space-between;
    padding: @medium-padding;

    i {
        font-size: @small-font;
    }
}

.side-bar {
    z-index: 500;
    position: fixed;
    background: @sidebar-bg-color;
    width: 0%;
    height: 100%;
    .flex-mixin(column);
    justify-content: center;
    border: 1px solid black;

    .nav-menu {
        margin-left: 10px;
        .flex-mixin(column);
        justify-content: space-evenly;
        height: 50%;

        .link {
            text-decoration: none;
            color: black;
            font-size: 32px;
            font-weight: 64px;
            margin-bottom: 0;
            color: white;
        } 
        
    }

    .login-button {
        margin-left: 20px;
        margin-top: 30px;
        border: 1px solid white;
        width: 60%;
        height: 8%;
        background: transparent;
        font-size: 20px;
        color: white;
    }
}