.how-to {
  .flex-mixin(column);
  margin-top: @large-margin;
  border: 1px solid black;
  .intro {
    text-align: center;
    padding-bottom: 2.0rem;
    h1 {
      font-size: 2.5rem;
      color: #4e4c4c;
      padding-bottom: @small-padding;
    }
    p {
      color: #4e4c4c;
    }
  }

  .how-to-grid {
    .flex-mixin(column);

    .step {
      //box-shadow: 0 4px 8px 0 #fff, 0 6px 20px 0 #fff;
      .flex-mixin(column);
      justify-content: center;
      align-items: center;
      width: 80%;
      height:300px;
      margin: 2.0rem auto;


      .img {
        width: 100%;
        img {
          width: 100%;
        }
      }

      h2 {
          font-size: 2.0rem;
          color: #4e4c4c;
          padding-top: 1.0rem;
      }

      p {
          padding: 1.0rem 0;
          color: #4e4c4c;
          text-align: center;
      }
    }
  }
}
